absl-py
opencv-python
Click
Flask
gast
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
numpy
Pillow
protobuf
python-resize-image
requests
six
tensorflow-cpu
urllib3
uWSGI
Werkzeug
wrapt


